@import './variables.scss';

.aboutHero_{
    &container{
        @include flexCol();
        margin: 0 0 1rem;
    }
    &captureContainer{
        width: 60%;
    }
    &hdr{
        font-size: 3rem;
        text-align: center;
        font-weight: 400;
        width: 90%;
        color: $baseD;
    }
    &subtext{
        width: 90%;
        margin: 2rem 0;
        font-size: 1.5rem;
        text-align: center;
    }
    &button{
        margin: 2rem 0 1rem;
        font-size: 1rem;
        padding: 0.3rem 0.7rem;
        border-radius: 3px;
        box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
        border: none;
        background: $base;
        color: $white;
        font-weight: 500;
        cursor: pointer;
        &:hover{
            box-shadow: none;
            color: $base;
            background: none;
            font-weight: 600;
        }
    }
}
@media (min-width:480px){
    .aboutHero_{
        &container{
            margin: 1rem 0 2.5rem;
        }
        &captureContainer{
            max-width: 350px;
        }
        &hdr{
            font-size: 3.3rem;
        }
        &button{
            font-size: 1.2rem;
        }
    }   
}
@media (min-width:769px){
    .aboutHero_{
        &container{
            margin: 4rem 0 3rem;
        }
        &hdr{
            width: 60%;
        }
        &subtext{
            margin: 2rem 0 3.5rem;
            font-size: 2rem;
            width: 70%;
        }
        &button{
            font-size: 1.5rem;
        }
    }   
}
@media (min-width:1024px){
    .aboutHero_{
        &container{
            margin: 5rem 0 4rem;
        }
        &captureContainer{
            // width: 60%;
        }
        &hdr{
            font-size: 4.5rem;
            margin: 0;
        }
        &subtext{
            font-size: 2.2rem;
            margin: 3rem 0 4rem;
        }
        &button{
            margin: 3rem 0 0.5rem;
        }
    }
}
@media (min-width:1200px){
    .aboutHero_{
     &captureContainer{
        max-width: 480px;
     }
    }   
}
@media (min-width:1350px){
    .aboutHero_{
        &captureContainer{
            // width: 60%;
        }
        &hdr{
            font-size: 5rem;
        }
        &subtext{
            font-size: 2.2rem;
            margin: 3rem 0;
        }
        &button{
            font-size: 1.7rem;
        }
    }
}