@import './variables.scss';

.bestAt_{
    &container{
        @include flexCol();
        margin: 2rem 0;
        @media(min-width:1350px){
            margin: 3rem 0;
        }
    }
    &gridContainer{
        @include flexCol();
        margin: 2rem 0;
        @media(min-width:1350px){
            margin: 3rem;
        }
    }
    &subhdr{
        font-size: 1.5rem;
        font-weight: 400;
        margin: 0 0 1rem;
        text-transform: capitalize;
    }
}
@media (min-width:1024px){
    .bestAt_{
        &subhdr{
            font-size: 1.7rem;
        }
    }
}