@import './variables.scss';

.cardArea_{
    &container{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 300px;
        margin: 2rem 0;
        gap: 1rem;
        @media(min-width:1024px){
            width: 100vw;
        }
    }
    &cardContainer{
        @include flexCol();
    }
    &button{
        background: $base;
        color: $white;
        font-weight: 700;
        padding: 0.5rem 0.7rem;
        font-size: 1.1rem;
        border: none;
        border-radius: 3px;
        @include flex();
        margin: 1.5rem 0 2rem;
        cursor: pointer;
        box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
    &:hover{
        background: $white;
        color: $base;
        transform: scale(1.1);
        .cardArea_chevron {
            fill: $base;
            transform: scale(1.1);
            margin: 0 0 0 2rem;
          }
    }
    }
    &chevron{
        width: 13px;
        height: 13px;
        margin: 0 0 0 0.7rem;
        fill: $white;
        transition: all 0.2s;
    }
    &comingSoon{
        width: 38px;
        height: 38px;
        margin: 0.2rem 0 0.5rem;
        overflow: hidden;
        fill: $white;
        background: $baseD;
        @include flexCenR;
        border-radius: 50px;
        box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
    }
}

.card_{
    &card{
        width: 100%;
        @include flex();
        overflow: hidden;
        @media(min-width:1200px){
            width: 380px;
            height: 150px;
        }
        @media(min-width:1350px){
            width: 500px;
            height: 180px;
        }
    }
    &card:last-child{
        flex-direction: row-reverse;
    }
    &imgContainer{
        width: 100%;
        height: 90px;
        overflow: hidden;
        margin: 0.5rem;
        box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
        border-radius: 8px;
        @media(min-width:480px){
            height: 120px;
        }
        @media(min-width:769px){
            height: 140px;
            width: 80%;
        }
        @media(min-width:1024px){
        }
        @media(min-width:1200px){
            width: 450px;
            height: 120px;
        }
        @media(min-width:1350px){
            width: 550px;
            height: 150px;
        }
    }
    &contentsContainer{
        padding: 1rem;
        @include flexCol();
        align-items: flex-start;
        gap: 1rem;
        height: 100%;
        @media(min-width:480px){
            padding: 2rem;
        }
        @media(min-width:1200px){
            padding: 2rem;
            height: 160px;
            gap: 1.2rem;
        }
    }
    &hdr{
        font-weight: 400;
        font-size: 1.5rem;
        color: $base;
        @media(min-width:480px){
            font-size: 1.7rem;
        }
        @media(min-width:769px){
            font-size: 2rem;
        }
        @media(min-width:1350px){
            font-size: 2.5rem;
        }
    }
    &text{object-fit: contain;
        font-size: 0.8rem;
        color: $offBlack;
        @media(min-width:480px){
            font-size: 1rem;
        }
        @media(min-width:769px){
            font-size: 1.2rem;
        }
        @media(min-width:1024px){
            font-size: 1.35rem;
        }
        @media(min-width:1200px){
            font-size: 1.2rem;
        }
        @media(min-width:1350px){
            font-size: 1.4rem;
        }
    }
}
@media(min-width:480px){
    .cardArea_{
        &container{
            width: 400px;
        }
        &button{
            font-size: 1.4rem;
        }
}
}
@media(min-width:769px){
    .cardArea_{
        &container{
            gap: 5vw;
            width: 500px;
            margin: 3.5rem 0;
        }
        &button{
          font-size: 1.6rem;
        }
        &comingSoon{
            width: 45px;
            height: 45px;
        }
    }
}
@media(min-width:1024px){
    .cardArea_{
        &container{
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            width: 90%;
            gap: 5vw;
        }
    }
}
@media(min-width:1200px){
    .cardArea_{
        &container{
            margin: 5rem 0 5rem 8rem;
            gap: 3vw;
        }
        &button{
            margin: 2rem 0 1rem;
        }
        &comingSoon{
            margin: 1rem 0 1rem;
        }
    }
    .card_{
        &hdr{
            font-size: 2rem;
        }
    }
}