@import './variables.scss';

.footer_{
    &container{
        @include flexCol();
        padding: 2rem;
        width: 100%;
        background: $baseL;
    }
    &captureContainer{
        width: 70%;
        margin: 1rem 0 2rem;
    }
    &iconContainer{
        width: 60px;
        height: inherit;
        margin: 0 0 1.5rem;
        overflow: hidden;
        fill: $offWhite;
    }
    &copyright{
        margin: 1.5rem 0 0;
        font-size: 1.2rem;
        font-weight: 500;
        color: $offBlack;
    }
}
@media(min-width:769px){
   .footer_{
        &captureContainer{
            width: 40%;
            margin: 1rem 0 2rem;
        }
        &iconContainer{
            width: 70px;
        }
   }
}
@media(min-width:1024px){
   .footer_{
        &captureContainer{
            margin: 1rem 0 3rem;
        }
        &iconContainer{
           width: 75px;
        }
   }
}
@media(min-width:1200px){
   .footer_{
        &captureContainer{
            width: 60%;
        }
   }
}