@import './variables.scss';

.footer_{
    &container{
        @include flexCol();
        margin: 2rem 0;
        width: 90%;
    }
    &captureContainer{
        width: 70%;
        margin: 1rem 0 2rem;
    }
    &iconContainer{
        width: 60px;
        height: inherit;
        margin: 0 0 1.5rem;
        overflow: hidden;
        fill: $base;
    }
}
@media(min-width:769px){
   .footer_{
        &captureContainer{
            width: 40%;
            margin: 1rem 0 2rem;
        }
        &iconContainer{
            width: 70px;
        }
   }
}
@media(min-width:1024px){
   .footer_{
        &captureContainer{
            margin: 1rem 0 3rem;
        }
        &iconContainer{
           width: 75px;
        }
   }
}