@import './variables.scss';

.gettingStarted_{
    &container{
        @include flexCol();
        width: 100%;
        box-shadow: 0px 1px 10px 0 rgba(0, 0, 0, 0.2);
        margin: 0 0 1rem;
        background: $offWhite;
    }
    &topContainer{
        width: 100%;
        @include flexCol();
    }
    &contentContainer{
        width: 100%;
        @include flexCol();
        // background: $white;
    }
    &hdr{
        font-size: 2rem;
        margin: 1.5rem 0 0.5rem;
        font-weight: 400;
        text-align: center;
        text-transform: capitalize;
        color: $black;
    }
    &subtext{
        font-size: 1.5rem;
        margin: 1rem 0 0.5rem;
        text-align: center;
        width: 80%;
        font-weight: 300;
        color: $base;
    }
}
@media (min-width:480px){
    .gettingStarted_{
        &hdr{
            font-size: 2.2rem;
        }
        &subtext{
            width: 70%;
            font-size: 1.8rem;
        }
    }
}
@media (min-width:769px){
    .gettingStarted_{
        &hdr{
            font-size: 2.5rem;
            margin: 2.2rem 0 1rem;
        }
        &subtext{
            font-size: 2rem;
            margin: 1rem 0 0;
        }
    }
}