@import './variables.scss';

@keyframes slideTop {
    from{
        opacity: 0;
        transform: translateY(-40%);
    }
    to{
        opacity: 1;
        transform: translateY(0%)
    }
}
@keyframes slideLeft {
    from{
        opacity: 0;
        transform: translateX(-100%);
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}
@keyframes slideBottom {
    from{
        opacity: 0;
        transform: translatey(50%);
    }
    to{
        opacity: 1;
        transform: translatey(0%);
    }
}
@keyframes green {
    from{
        color: $black;
    }
    to{
        color: green
    }
}
@keyframes slideRight {
    from{
        transform: translateX(80%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
        opacity: 1;
    }
}
@keyframes color {
    from{
        background-color: $white;
    }
    to{
       background-color: rgb(209, 35, 171)
    }
}
@keyframes opacity {
    from{
        opacity: 0;
    }
    to{
       opacity: 1;
    }
}

.home_container{
    @include flexCol();
}
.layout_{
    &pageContainer{
        @include flexCol();
        background-color: $white;
    }
    &container{
        padding: 50px 20px 0;
        @include flexCol();
    }
}
.landingPage_{
    &container{
        width: 100vw;
    }
    &heroLeft{
        @include flexCol();
    }
    &hdr{
        font-size: 2.7rem;
        margin: 2rem 0 1rem 15%;
        font-weight: 500;
        width: 90%;
        text-align: left;
        animation: slideTop 0.5s ease-out 1;
        overflow: hidden;
    }
    &listContainer{
        margin: 0.5rem 0 1.5rem;
        width: 75%;
        overflow: visible;
    }
    &listItem{
        text-align: left;
        font-size: 1.4rem;
        &::before{
            content: '✓   ';
            animation: green 1.8s ease-in-out 0.5s 1 forwards;
        }
    }
    &subtext{
        font-size: 1rem;
        font-weight: 400;
        width: 70%;
        margin: 0 0 1rem;
        text-align: center;
    }
    &captureContainer{
        width: 80%;
        @include flex();
        margin: 0.5rem 0 2.5rem;
        overflow: hidden;
    }
    &captureWrapper{
        overflow: hidden;
        @include flex();
        justify-content: flex-start;
        width: 100%;
        animation: slideBottom 0.5s ease-in-out 1 forwards;
    }
    &heroContainer{
        @include flex();
        justify-content: center;
        position: relative;
        overflow: hidden;
        padding: 2rem;
    }
    &heroContainer::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url('../img/heroImg.jpg');
        background-size: cover;
        background-position: left;
        background-blend-mode: color-dodge;
        background-color: rgb(209, 35, 171);
        animation: color 1.5s 1;
      }
    &heroLeft{
        width: 90%;
        z-index: 90;
        height: fit-content;
        background: rgba(255, 255, 255, 0.7);
        box-shadow: 0 0 10px 1px $lGray;
        animation: opacity 1s 1 forwards;
    }
}
@media(min-width:480px){
    .layout_{
        &container{
            padding: 20px 0 5px;
        }
    }
    .landingPage_{
        &heroContainer{
            justify-content: flex-start;
        }
        &heroLeft{
            margin: 10px 0 15px 30px;
            width: 65%;
        }
        &hdr{
            font-size: 3rem;
            font-weight: 600;
            margin: 20px 0 0;
            width: 80%;
            text-align: left;
            text-shadow: 0 0 5px $white;
            border-radius: 2px;
            padding: 1.5rem 1rem 0;
        }
        &listContainer{
            margin: 2rem 1rem 1rem 25%;
            width: 100%;
        }
        &listItem{
            list-style-type: circle;
            font-size: 1.6rem;
            font-weight: 600;
            text-shadow: 0 0 5px $white;
            &:first-child{
                transform: translateX(-100%);
                animation: slideLeft 0.6s ease-in 1 forwards;
            }
            &:nth-child(2){
                transform: translateX(-100%);
                animation: slideLeft 0.6s ease-in 0.2s 1 forwards;
            }
            &:nth-child(3){
                transform: translateX(-100%);
                animation: slideLeft 0.6s ease-in 0.4s 1 forwards;
            }
        }
        &listItem{
        }
        &captureContainer{
            width: 90%;
            justify-content: center;
            margin: 1rem 5rem 2.5rem 3.5rem;
            overflow: hidden;
        }
        &captureWrapper{
            width: 80%;
            overflow: hidden;
        }
}
}
@media(min-width:600px){
    .layout_{
        &container{
            padding-top: 10px;
        }
    }
    .landingPage_{
        &heroContainer::before{
            transform: scale(1.2);
        }
        &heroLeft{
            width: 50%;
        }
        &hdr{
            margin-top: 10px;
        }
        &captureContainer{
            width: 80%;
            margin-left: 4rem;
        }
        &captureWrapper{
            width: 90%;
            // margin-right: 1.5rem;
        }
    }
}
@media (min-width: 769px) { 
    .layout_{
        &container{
            padding: 0;
        }
    }
    .landingPage_{
        &heroContainer::before{
            transform: rotate(180deg) scale(1.3);
        }
        &heroLeft{
            margin: 40px 45px 25px;
            padding-bottom: 20px;
        }
        &hdr{
            margin: 2rem 0 1rem;
            font-size: 3.3rem;
        }
        &listContainer{
            margin: 1rem 0 2rem 9.5rem;
        }
        &listItem{
            font-size: 1.8rem;
        }
}
}
@media (min-width: 1024px) { 
    &heroContainer::before{
        transform: rotate(180deg) scale(1);
    }
    .landingPage_{
        &heroLeft{
            margin: 60px 45px 50px;
        }
        &hdr{
            margin: 2rem 0 3rem;
            line-height: 4.5rem;
            font-size: 3.8rem;
        }
        &listContainer{
            margin: 1rem 0 3.5rem 25%;
        }
        &listItem{
            font-size: 2.2rem;
        }
    }
}
@media (min-width: 1350px) { 
    .landingPage_{
        &heroContainer{
        }
        &heroLeft{
            width: 45%;
            margin: 70px 0 50px 90px;
        }
        &hdr{
            font-size: 4rem;
            margin: 3rem 0 4rem;
            line-height: 5.5rem;
        }
        &listContainer{
            margin: 1rem 0 2rem 25%;
        }
        &listItem{
            margin-bottom: 2rem;
        }
        &captureContainer{
            width: 75%;
            margin: 1rem 0 5rem 0;
            justify-content: flex-start;
        }
    }
}
