@import './variables.scss';

.home_container{
    @include flexCol();
    width: 100%;
}
.layout_{
    &pageContainer{
        @include flexCol();
        background-color: #fff;
    }
    &container{
        padding: 50px 20px 0;
        @include flexCol();
    }
}
.landingPage_{
    &container{
        @include flexCol();
    }
    &heroContainer{
        @include flexCol();
    }
    &heroRight{
        display: none;
    }
    &heroLeft{
        @include flexCol();
    }
    &hdr{
        font-size: 2.7rem;
        margin: 1rem 0;
        font-weight: 500;
        width: 80%;
        text-align: center;
    }
    &listContainer{
        margin: 0.5rem 0 1.5rem;
    }
    &listItem{
        list-style-type: circle;
        text-align: left;
    }
    &subtext{
        font-size: 1rem;
        font-weight: 400;
        width: 70%;
        margin: 0 0 1rem;
        text-align: center;
    }
    &captureContainer{
        width: 60%;
        @include flex();
        margin: 0.5rem 0 2rem;
    }
    &captureWrapper{
        @include flex();
        justify-content: flex-start;
        width: 100%;
    }
    &captureContainerTwo{
        display: none;
    }
}
@media(min-width:480px){
    .layout_{
        &container{
            padding: 30px 0 5px;
        }
    }
    .landingPage_{
        &container{
            width: 100%;

        }
        &heroContainer{
            @include flex();
            margin: 2rem 0;
            width: 80%;
        }
        &heroImgContainer{
            width: 60%;
            height: 190px;
            overflow: hidden;
        }
        &heroRight{
            display: unset;
            width: 50%;
            @include flexCenR;
            margin: 4rem 0 0;
        }
        &heroLeft{
            width: 70%;
            margin: 0 0 0 2rem;
        }
        &hdr{
            font-size: 2.7rem;
            padding: 2rem 0 0;
        }
        &listContainer{
            margin: 1rem 1rem 1.5rem;
        }
        &listItem{
            list-style-type: circle;
            text-align: left;
            font-size: 1.3rem;
        }
        &subtext{
            font-size: 1.2rem;
            width: 75%;
            margin-left: 2rem;
        }
        &captureContainer{
            width: 60%;
            justify-content: flex-start;
            margin: 0.5rem 6rem 3rem 0;
    }
}
}
@media(min-width:600px){
    .layout_{
        &container{
            padding-top: 10px;
        }
    }
    .landingPage_{
        &heroContainer{
            margin-bottom: 0;
        }
        &hdr{
            font-size: 3.7rem;
            margin-top: 2rem;
            width: 95%;
        }
        &heroLeft{
            width: 60%;
        }
        &heroRight{
            margin: 7rem 3rem 0 2rem;
        }
        &heroImgContainer{
            width: 90%;
            max-width: 180px;
            height: 220px;
        }
        &captureContainer{
            margin: 2rem 15rem 4rem 0;
            width: 50%;
        }
    }
}
@media (min-width: 769px) { 
    .layout_{
        &container{
            padding: 0 25px 20px;
        }
    }
    .landingPage_{
        &heroContainer{
            flex-direction: row;
            justify-content: center;
        }
        &heroLeft{
            width: 80%;
        }
        &heroRight{
            margin: 10rem -4rem 0 0;
            display: unset;
        }
        &heroImgContainer{
           max-width: 210px;
           height: 250px;
        }
        &hdr{
            font-size: 3.8rem;
            padding: 0rem 0rem 1rem 0rem;
            width: 85%;
        }
        &listContainer{
            margin: 0.2rem 0 0;
        }
        &listItem{
            font-size: 1.7rem;
        }
        &subtext{
            font-size: 1.5rem;
        }
        &captureContainer{
            width: 90%;
            margin: 2rem 0 3rem;
        }
        &captureWrapper{
            width: 60%;
            padding: 0 0 0 08rem;
            justify-content: center;
        }
    }
}
@media (min-width: 1024px) { 
    .landingPage_{
        &container{
            width: 100%;
        }
        &hdr{
            font-size: 4.2rem;
            width: 90%;
            margin: 2.8rem 0 3.5rem;
            font-weight: 400;
        }
        &listItem{
            font-size: 2.3rem;
        }
        &subtext{
            font-size: 1.8rem;
            // text-align: left;
        }
        &heroImgContainer{
            width: 90%;
            max-width: 240px;
            height: 290px;
            margin-left: 3rem;
        }
        &captureWrapper{
            width: 60%;
        }
        &captureContainer{
            width: 70%;
        }
    }
}
// @media (min-width: 1200px) { 
//     .landingPage_{
//         &heroContainer{
//             width: 90%;
//             margin-top: 1rem;
//             padding-bottom: 5rem;
//         }
//         &heroLeft{
//             position: relative;
//         }
//         &hdr{
//             font-size: 4.5rem;
//             width: 80%;
//             margin: 6rem 0 3rem;
//             text-align: left;
//         }
//         &listContainer{
//             margin: 0 0 1rem;
//         }
//         &listItem{
//             font-size: 2rem;
//             margin: 0 0 0.5rem;
//         }
//         &captureContainer{
//             display: none;
//         }
//         &captureContainerTwo{
//             display: unset;
//             width: 70%;
//             margin: 5rem 0 0;
//         }
//         &captureWrapper{
//             width: 50%;
//             padding: 0 0 0 15rem;
//             // margin-top: -5rem;
//             z-index: 990;
//         }
//         &heroImgContainer{
//             height: 350px;
//             max-width: 290px;
//             margin-left: 7rem;
//             padding-top: 0;
//         }
//         &subtext{
//             font-size: 2rem;
//             width: 90%;
//         }
//     }
// }
@media (min-width: 1200px) { 
    .landingPage_{
        &heroContainer{
            width: 90%;
            padding-bottom: 5rem;
        }
        &heroLeft{
            width: 60%;
        }
        &hdr{
            font-size: 4.5rem;
            text-align: left;
            width: 100%;
            margin: 6rem 0 3rem 5rem;
        }
        &listContainer{
            margin: 0 0 1rem 7rem;
            width: 100%;
        }
        &listItem{
            font-size: 2.3rem;
            margin: 0 0 0.5rem;
        }
        &captureContainer{
            display: none;
        }
        &captureContainerTwo{
            display: unset;
            width: 60%;
            margin: 5rem 3rem 0 0;
        }
        &captureWrapper{
            width: 50%;
            padding: 0 0 0 15rem;
            // margin-top: -5rem;
            z-index: 990;
        }
        &heroImgContainer{
            height: 300px;
            max-width: unset;
            width: 70%;
            overflow: hidden;
            margin-left: 5rem;
            padding-top: 0;
        }
        &subtext{
            font-size: 2rem;
            width: 90%;
        }
    }
}
@media (min-width: 1350px) { 
    .landingPage_{
        &heroContainer{
            width: 95%;
        }
        &heroLeft{
            width: 65%;
        }
        &hdr{
            font-size: 4.5rem;
            text-align: left;
            width: 99%;
            margin: 6rem 0 3rem 3rem;
        }
        &listContainer{
            margin: 0 0 1rem 7rem;
            width: 100%;
        }
        &listItem{
            font-size: 2.3rem;
            margin: 0 0 0.5rem;
        }
        &captureContainer{
            display: none;
        }
        &captureContainerTwo{
            display: unset;
            width: 70%;
            margin: 5rem 0 0;
        }
        &captureWrapper{
            width: 50%;
            padding: 0 0 0 15rem;
            // margin-top: -5rem;
            z-index: 990;
        }
        &heroImgContainer{
            height: 350px;
            max-width: unset;
            width: 80%;
            overflow: hidden;
            margin-left: 7rem;
            padding-top: 0;
        }
        &subtext{
            font-size: 2rem;
            width: 90%;
        }
    }
}