@import './variables.scss';

@keyframes slideTop {
    from{
        opacity: 0;
        transform: translateY(-40%);
    }
    to{
        opacity: 1;
        transform: translateY(0%)
    }
}
@keyframes slideLeft {
    from{
        opacity: 0;
        transform: translateX(-100%);
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}
@keyframes slideBottom {
    from{
        opacity: 0;
        transform: translatey(50%);
    }
    to{
        opacity: 1;
        transform: translatey(0%);
    }
}
@keyframes green {
    from{
        color: $black;
    }
    to{
        color: green
    }
}
@keyframes slideRight {
    from{
        transform: translateX(80%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
        opacity: 1;
    }
}

.home_container{
    @include flexCol();
    width: 100%;
}
.layout_{
    &pageContainer{
        @include flexCol();
        background-color: $white;
    }
    &container{
        padding: 50px 20px 0;
        @include flexCol();
    }
}
.landingPage_{
    &container{
        @include flexCol();
    }
    &heroContainer{
        @include flexCol();
    }
    &heroRight{
        display: none;
        animation: slideRight 0.5s ease-in-out 1;
    }
    &heroLeft{
        @include flexCol();
    }
    &hdr{
        font-size: 2.7rem;
        margin: 1rem 0;
        font-weight: 500;
        width: 80%;
        text-align: center;
        animation: slideTop 0.5s ease-out 1 ;
    }
    &listContainer{
        margin: 0.5rem 0 1.5rem;
        width: 65%;
        overflow: visible;

    }
    &listItem{
        text-align: left;
        font-size: 1.4rem;
        &:first-child{
            transform: translateX(-100%);
            animation: slideLeft 0.6s ease-in 1 forwards;
        }
        &:nth-child(2){
            transform: translateX(-100%);
            animation: slideLeft 0.6s ease-in 0.2s 1 forwards;
        }
        &:nth-child(3){
            transform: translateX(-100%);
            animation: slideLeft 0.6s ease-in 0.4s 1 forwards;
        }
        &::before{
            content: '✓   ';
            animation: green 1.8s ease-in-out 0.5s 1 forwards;
        }
    }
    &subtext{
        font-size: 1rem;
        font-weight: 400;
        width: 70%;
        margin: 0 0 1rem;
        text-align: center;
    }
    &captureContainer{
        width: 60%;
        @include flex();
        margin: 0.5rem 0 2.5rem;
    }
    &captureWrapper{
        @include flex();
        justify-content: flex-start;
        width: 100%;
        animation: slideBottom 0.5s ease-in-out 1 forwards;
    }
    &captureContainerTwo{
        overflow: hidden;
        display: none;
    }
}
@media(min-width:480px){
    .layout_{
        &container{
            padding: 30px 0 5px;
        }
    }
    .landingPage_{
        &container{
            width: 100%;

        }
        &heroContainer{
            @include flex();
            width: 80%;
        }
        &heroImgContainer{
            width: 90%;
            height: 200px;
            overflow: hidden;
        }
        &heroRight{
            display: unset;
            width: 50%;
            @include flexCenR;
            padding: 6rem 2rem 0 0;
        }
        &heroLeft{
            width: 60%;
            margin: 0 0 0 2rem;
        }
        &hdr{
            font-size: 2.7rem;
            padding: 2rem 0 0;
            text-align: left;
        }
        &listContainer{
            margin: 1rem 1rem 1.5rem 2rem;
            width: 90%;
        }
        &listItem{
            list-style-type: circle;
            text-align: left;
            font-size: 1.3rem;
        }
        &captureContainer{
            width: 60%;
            justify-content: flex-start;
            margin: 0.5rem 6rem 3rem 0;
        }
        &captureWrapper{
            width: 60%;
        }
}
}
@media(min-width:600px){
    .layout_{
        &container{
            padding-top: 0;
        }
    }
    .landingPage_{
        &heroContainer{
            margin: 3rem 0 0;
            width: 90%;
        }
        &hdr{
            font-size: 3.2rem;
            width: 95%;
        }
        &heroImgContainer{
            height: 220px;
        }
        &captureContainer{
            width:70%;
        }
        &captureWrapper{
            width: 60%;
        }
    }
}
@media (min-width: 769px) { 
    .layout_{
        &container{
            padding: 0;
        }
    }
    .landingPage_{
        &heroContainer{
         width: 78%;
         margin-top: 2rem;
        }
        &listContainer{
            width: 95%;
        }
        &listItem{
            font-size: 1.8rem;
        }
        &captureContainer{
            width: 65%;
        }
        &captureWrapper{
            width: 50%;
        }
    }
}
@media (min-width: 1024px) { 
    .landingPage_{
        &heroContainer{
            width: 75%;
        }
        &hdr{
            font-size: 3.8rem;
            margin: 3rem 0 2rem;
            font-weight: 400;
        }
        &listItem{
            font-size: 2rem;
        }
        &heroImgContainer{
            width: 90%;
            height: 220px;
            margin-bottom: 2rem;
        }
        &captureContainer{
            display: none;
        }
        &captureContainerTwo{
            display: unset;
            width: 90%;
            margin: 2rem 0 4rem;
        }
        &captureWrapper{
            width: 70%;
        }
    }
}
@media (min-width: 1200px) { 
    .landingPage_{
        &heroContainer{
            width: 90%;
            padding-top: 5rem;
        }
        &hdr{
            font-size: 4.2rem;
            text-align: left;
            width: 95%;
            margin: 0 0 2rem;
        }
        &listContainer{
            margin: 1rem 0 2rem 1rem;
            width: 95%;
        }
        &listItem{
            font-size: 2.1rem;
            margin: 0 0 0.5rem;
        }
        &captureWrapper{
            width: 70%;
        }
        &heroImgContainer{
            height: 290px;
            max-width: unset;
            width: 100%;
            margin-bottom: 5rem;
        }
    }
}
@media (min-width: 1350px) { 
    .landingPage_{
        &heroContainer{
            width: 83%;
            padding: 4rem 0 2rem;
            max-width: 1400px;
        }
        &heroLeft{
            width: 70%;
        }
        &hdr{
            font-size: 4.5rem;
            width: 100%;
        }
        &listContainer{
            width: 100%;
        }
        &listItem{
            margin: 0 0 1rem;
        }
        &captureContainerTwo{
            width: 98%;
        }
        &captureWrapper{
            width: 60%;
        }
    }
}
@media (min-width: 1500px) { 
    .landingPage_{
        &heroContainer{
            gap: 10rem;
        }
    }
}