@import './variables.scss';

.perks_{
    &container{
        width: 100%;
        @include flexCol();
        box-shadow: 0px 1px 10px 0 rgba(0, 0, 0, 0.2);
        margin: 1rem 0;
        background: $offWhite;
    }
    &gridContainer{
        @include flexCol();
    }
    &topContainer{
        width: 100%;
        @include flexCol();
        padding: 0 0 1rem;
    }
    &contentContainer{
        width: 100%;
        @include flexCol();
    }
}