@import './variables.scss';

.perks_{
    &container{
        width: 100%;
        @include flexCol();
        background: $baseL;
        border-top: 1px solid $black;
    }
    &gridContainer{
        @include flexCol();
    }
}