@import './variables.scss';

.projectQuestions_{
    &container{
        @include flexCol;
        overflow: visible;
    }
    &inputContainer{
        @include flexCol();
        overflow: visible;
    }
    &questionsContainer{
        width: 75vw;
        padding: 1rem 2rem 1rem;
        @include flexCol();
        justify-content: flex-start;
        // margin-top: -1rem;
    }
}
