@import './variables.scss';

.projectQuestions_{
    &container{
        @include flexCol;
    }
    &button{
        margin: 1rem;
        background: $white;
        border: 1px solid;
        padding: 0.7rem;
        border-radius: 3px;
        cursor: pointer;
    }
    &questionsContainer{
        @include flexCol();
    }
    &questionsTitle{
        margin: 1rem 0;
        font-weight: 400;
    }
    &inputContainer{
        @include flexCol();
    }
    &checkbox{
        margin: 0.5rem 0 1rem;
    }
    &label{
    }
}