@import './variables.scss';

.userQuestions_{
    &container{
        @include flexCol();
        margin: 0 0 2rem;
        width: 100%;
    }
    &hdr{
        margin: 0 0 1rem;
    }
    &subtext{
        font-size: 1.2rem;
        font-weight: 400;
        margin: 0.5rem 0;
    }
    &button{
        margin: 1rem;
        background: $white;
        border: 1px solid;
        padding: 0.7rem;
        border-radius: 3px;
        cursor: pointer;
    }
    &questionsContainer{
        @include flexCol();
    }
    &inputContainer{
        @include flexCol();
        margin: 0 0 0.5rem;
        overflow: visible;
    }
    &question{
        text-align: center;
        font-weight: 400;
        margin: 1rem 0;
    }
    &label{
        text-transform: capitalize;
        margin: 0.5rem 0;
    }
    &login{
        margin: 0 0 1rem;
        font-weight: 600;
        font-size: 1.2rem;
        text-align: center;
        color: $offBlack;
        transition: all 0.2s;
        cursor: pointer;
        &:hover{
            color: $baseD;
        }
    }
    @media(min-width:769px){
        &container{
            width: 100%;
        }
    }
}